@charset "UTF-8";

:root{
    --cor1: #AD1161;
    --cor2: #FA3298;
    --cor3: #269EAD;
    --cor4: #19E0FA;
    --cor5: #FAE22A;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--cor4);
}

main{
    position: absolute;
    background-color: white;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    border-radius: 10px;
    padding: 10px;

}

section{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.button{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding: 20px;
    width: 200px;
    border: none;
    border-radius: 10px;
    background-color: var(--cor2);
    color: var(--cor5);
    font-weight: bolder;
    font-size: 2em;
    cursor: pointer;
}

.playAgain{
    display: none;
}

.card{
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}

.backCardImg{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.backCardDiv{
    float: right;
    width: 100%;
    height: 100%;
    position: relative;
    bottom: calc(100%);
    z-index: 1;
}

.imgCardImg{
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.imgCardDiv{
    width: 100%;
    height: 100%;
}

#template{
    display: block;
    height: calc(100% - 70px);
}

#game{
    display: grid;
    max-width: 500px;
    max-height: 500px;
    position: relative;
    transform: translate(-50%, -50%);
}

#menu{    
    display: grid;
    position: relative;
}

#idArrowLeft{
    width: 60px;
    height: 60px;
}

@media only screen and (max-width: 768px){
    #game{
        max-width: 375px;
        max-height: 500px;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .card{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    }

}

@media screen and (min-width: 768px){
    #game{
        max-width: 560px;
        max-height: 420px;
        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}


@media only screen and (min-width: 992px){
    #game{
        max-width: 780px;
        max-height: 510px;
        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}



