@media only screen and (max-width: 768px){
    #game{
        max-width: 252px;
        max-height: 500px;
        grid-template-columns:1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .card{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    }

}

@media screen and (min-width: 768px){
    #game{
        max-width: 600px;
        max-height: 300px;
        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}   


@media only screen and (min-width: 992px){
    #game{
        max-width: 900px;
        max-height: 450px;
        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}



